body{

  font-family: Arial, Helvetica, sans-serif;

}

.chk{

  display: inline-block;
  border: 2px solid #bbb;
  background: #ddd;
  width: 15px;
  height: 15px;
  margin-right: 10px;

}

label{

  height: 15px;
  display: inline-block;

}

input[type="checkbox"]{

  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
  margin: 0;

}

input[type="checkbox"]:checked + label .chk{

  background: #555;
  position: relative;

}

input[type="checkbox"]:checked + label .chk:before{

  content:'';
  display: block;
  position: absolute;
  top: 0px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border: 2px solid white;
  transform: rotate(45deg);
  border-top-color: transparent;
  border-left-color: transparent;
  box-sizing: border-box;

}